* {
    margin: 0;
    padding: 0;
    font-size: 3vh;
}

html {
    width: 100%;
    height: 100%;
    background-image: url(../img/refr12.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body{
    width: 100%;
    height: 100%;
}

#canvasContainer {
    width: 100vw;
    height: 70%;
    margin-top: 20vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#canvas {
    background-image: url(../img/canvas.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: 5px rgb(0, 92, 15) solid;
    transform: rotate(180deg);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

button{
    border-radius: 3vh;
    border: 0.3vh red solid;
    height: 5vh;
    width: 5vw;
}

#buttonsContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
